<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css"></link>
    <link rel="icon" href="/img/weather.png"></link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <! you can use flex styling here to create main content and stick footer in bottom >
    <div class="main-content">
         {{>header}}
         <p>Use this site to search a weather</p>
         <form>
            <input placeholder="Location">
            <button>Search</button>
         </form>
         <p id="weather_message">
            <! contains actual message>
         </p>
         <p id="weather_error">
            <! contains error message>
         </p>
    </div>
     {{>footer}}

     <script src="./js/app.js"></script>
</body>
</html>